@font-face
{
    font-family: Montserrat;
    font-display: swap;
    src: url('../fonts/Montserrat-Light.ttf');
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body
{
    font-family: 'Montserrat', sans-serif;

    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;

    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    -webkit-animation: fadeIn ease-in;
    -moz-animation: fadeIn ease-in;
    animation: fadeIn ease-in;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;

    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.profile-photo
{
    object-fit: cover;
    padding: 5px;
    display: block;
    height: 128px;
    width: 128px;
    margin: 10px;
    top: 120px;
    left: 20px;

    border: 5px solid transparent;
    border-radius: 1000px;
}